.admin-page-container {
    width: 100%;
    height: 100%;
    .admin-radio-buttons {
        padding-top: 20px;
    }
    #demo-radio-buttons-group-label {
        font-size: x-large;
    }
    .add-field-wrapper {
        padding: 10px;
    }
    .add-button {
        margin-left: 20px;
    }
}